# Use the default devShell from the flake.nix
use flake .

# Also load things from .env for developer-specific environment variables.
dotenv

# Recommended by quickstart
export HOST_PROJECT_PATH=$(pwd)
export COMPOSE_PROJECT_NAME=blink-quickstart
